.Product {
  padding: 24px 0px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
}

.Product:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.ProductBrand {
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
  margin-bottom: 16px;
}

.ProductName {
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
}

.PriceInfo {
  display: flex;
  font-weight: 700;
  font-size: 24px;
  line-height: 46px;
  color: #1d1f22;
  margin-top: 10px;
}

.ProductAttributes {
  margin-top: 43px;
}

.AttrbuteValues {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.AttrbuteValue {
  margin: 8px 12px 8px 0;
}

.AttrbuteLabel {
  width: 100%;
  height: 100%;
}

.AttributeBox {
  border: 1px solid #1d1f22;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #1d1f22;
  cursor: pointer;
  padding: 13px 23px;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}

.AttributeIinput:checked + .AttributeBox,
.AttributeIinput:hover + .AttributeBox {
  background: #1d1f22;
  color: #fff;
}

.ColorWrapper {
  width: 36px;
  height: 36px;
  position: absolute;
  opacity: 0;
  top: -2px;
  left: -2px;
  margin-right: 12px;
  transition: 0.3s;
  z-index: -1;
  border: 1px solid #5ece7b;
}

.Color {
  padding: 0;
  width: 32px;
  height: 32px;
  position: relative;
}

.Color:hover .ColorWrapper {
  opacity: 1;
}

.Color .AttrbuteLabel {
  width: 100%;
}

.Color .AttributeBox {
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  border: #dadada 1px solid;
}

.Color .AttributeIinput:checked + .ColorWrapper {
  opacity: 1;
}

.AttrbuteName,
.ProductPrice p {
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #1d1f22;
}

.TotalPrice {
  padding: 24px 0;
  max-width: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.TotalPrice span {
  font-weight: 700;
  flex: 3;
}
.TotalPrice div {
  flex: 2;
}

.Tax,
.Quantity,
.Total {
  display: flex;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #1d1f22;
  margin: 8px 0;
}

.RightSide {
  height: 100%;
  display: flex;
}

.productPhoto {
  margin-left: 24px;
  height: 288px;
  width: 200px;
  text-align: center;
  position: relative;
}

.Photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.productPhoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SliderArrows {
  display: flex;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.Prev,
.Next {
  user-select: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background: rgba(0, 0, 0, 0.73);
  color: #fff;
  margin: 0 4px;
  justify-content: center;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Prev img,
.Next img {
  width: 6px;
  height: 12px;
}

.Next img {
  transform: rotate(180deg);
}
