@import url(https://fonts.googleapis.com/css?family=Raleway:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,600,700);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}

.container {
  width: 100%;
  max-width: 1260px;
  padding: 0 10px;
  margin: 0 auto;
}
