.Header {
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1000;
}

.HeaderInner {
  display: flex;
  width: 100%;
  height: 100%;
}

.Logo {
  display: flex;
  justify-content: center;
  flex: 1;
}

.LogoImage {
  margin-top: 24px;
  width: 41px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Actions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  margin-top: 24px;
}

.Currency button {
  border: none;
  background: transparent;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  cursor: pointer;
  position: relative;
  color: #1d1f22;
  display: flex;
  align-items: center;
  margin-right: 22px;
}

.Currency button img {
  margin-left: 10px;
}

.Cart {
  width: 20px;
  height: 20px;
}

.Cart button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.Cart button img {
  width: 100%;
  height: 100%;
}
